# ecforce
ECFORCE_EMAIL=navy@symbe.co.jp
ECFORCE_PASSWORD=canow1234

# Google Service Account (JSON stringified)
GOOGLE_CREDENTIALS={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"...","client_email":"...","client_id":"...","auth_uri":"...","token_uri":"...","auth_provider_x509_cert_url":"...","client_x509_cert_url":"..."}

# Chatwork
CHATWORK_API_TOKEN=1961ab94b73bd52cfb2d433c9aaf8cd5
CHATWORK_ROOM_ID=429157045
